.app {
    .navbar {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .view {
        margin-top: 56px;
    }
}

@include breakpoint(sm) {
}
@include breakpoint(md) {
}
@include breakpoint(lg) {
    .app {
        .navbar {
            .dropdown-menu-end {
                right: inherit;
            }
        }
    }
}
@include breakpoint(xl) {
}
@include breakpoint(xxl) {
}
@include breakpoint(sm, min) {
}
@include breakpoint(md, min) {
}
@include breakpoint(lg, min) {
}
@include breakpoint(xl, min) {
}
@include breakpoint(xxl, min) {
}
